
* {
    box-sizing: border-box;
}


body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}

/* Head set up */
.header {
   padding: 30px;
   text-align: center;
   background: white;
    
}

.header h1{
    font-size: 50px;
}

.header p {
    color: black;
    text-align: left; 
    font-size: 18px; 
    
}

/* Navigation bar */
topnav {
    overflow: hidden;
    background-color: blue;
   
}

/* Links style */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
}
