body {
    font-family: Arial;
    padding: 5px;
    background: white;
}

/* Head set up */
.header {
    font-size: 30px;
    background-color: deepskyblue;
    text-align: center;   
    padding: 8px;
}

.header p {
    color: white;
    text-align: left;    
   
    
    
}